*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header img{
    width: 30px;
}
.header>div{
    display: flex;
}
.header>div>div{
    display: flex;
    align-items: center;
}
.header nav{
    display: flex;
    align-items: center;
}
.header nav ul{
    display: flex;
    align-items: center;
}
.header nav li{
  display: block;
}

main .section1{
    display: flex;
    gap: 100px;
    padding: 0px 100px;
}
main .section1 div{
    flex: 3;
}
main .section1 .videoContainer{
    flex: 2;
}
main .section1 .videoContainer video{
    width: 100%;
}
main .section1 .searchIconsDiv{
    display: flex;
}
main .section1 .inputDiv{
    display: flex;
}
main .section1 .popular{
    display: flex;
}
main .section1 .popular li{
    display: inline-block;
}
.floatingBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

main .section2{
    display: flex;
}
main .section2>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .section2>div>*{
    /*
        on cible toutes les balises qui ont un parent
        directe 'div' qui a un parent direct ayant la 
        classe section2 affectee et qui a un antecedent main
    */
    text-align: center;
}
main .section2 img{
    width: 100px;
}

main .section3 ul{
   display: flex;
   gap: 10px;
   list-style: none;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer>div{
    display: flex;
    gap: 200px;
}
footer li{
    display: inline-block;
}